@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "B691-Sans";
  src: url("./assets/fonts/B691-Sans Regular.ttf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sans {
  font-family: "B691-Sans";
}

.sliding-text-box {
  overflow: hidden;
  white-space: nowrap;
}

.sliding-text {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero {
  /* background-color: #8D2D2D;  */
  background-image:url("./assets/noise.svg");
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center;
  /* background-blend-mode: overlay; */
}

.foot {
  background-color: #A5513D; 
  background-image:url("./assets/noise.svg");
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center;
  /* background-blend-mode: overlay; */
}

.noise {
  background-image:url("./assets/noise.svg");
  background-repeat: repeat;
  /* background-size: cover; */
  background-position: center;
  /* background-blend-mode: overlay; */
}

.clip-path-ellipse {
  clip-path: ellipse(50% 40% at 50% 50%);
}